@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  --background-color: #f4eeee;
  background-color: var(--background-color);

  font-family: Public Sans;
}

li {
  list-style-type: inherit;
}

code,
pre {
  font-family:
    Victor Mono,
    monospace;

  font-size: 12px;
}

code {
  background-color: #ddd;
  border-radius: 2px;
  padding: 0 4px;
}

pre {
  background-color: #ddd;
  border-radius: 2px;
  padding: 4px;
}

pre code {
  background-color: transparent;
}
